{
    "@type":"Person",
    "address":{
      "@type":"PostalAddress",
      "addressCountry":"USA"
    },
    "image":"https://avatars1.githubusercontent.com/ansonl?v=3&s=200",
    "name":"Anson Liu",
    "alumniOf":{
      "@type":"EducationalOrganization",
      "name":"United States Naval Academy",
      "alternateName":"USNA",
      "sameAs":"https://usna.edu/",
      "url":"https://usna.edu/"
    },
    "jobTitle": "Software Engineer",
    "gender":"male",
    "url":"https://ansonliu.com",
    "sameAs":[
      "https://github.com/ansonl",
      "https://facebook.com/ansonl",
      "https://instagram.com/hardhikes"
    ]
  }
