{% if post.id %}
  {% assign title = post.title | markdownify | strip_html %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign post_link = post.url | relative_url %}
{% if post.redirect %}
  {% assign post_link = post.redirect %}
{% endif %}
{% if post.more-link-text-enabled == false %}
  {% assign post_link = '#' %}
{% endif %}

<article class="entry">
  <header class="entry-header">
    <h3 class="entry-title">
      {% if post.redirect %}
      <a href="{{ post_link }}" rel="external">{{ title }}</a>
      {% else %}
      <a href="{{ post_link }}" rel="bookmark">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.thumbnail %}
      {% assign entry_image = post.thumbnail | relative_url | escape %}
      <img class="entry-image u-photo" src="{{ entry_image }}" alt="">
    {% endif %}
  </header>
  {% if page.hide_entry-meta == false %}
  <footer class="entry-meta">
    <ul>
    {% if post.date %}
      <li><span class="icon">{% include icon-calendar.svg %}</span><time class="entry-time" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></li>
    {% endif %}
    {% if post.read_time %}
      <li><span class="icon">{% include icon-stopwatch.svg %}</span>{% capture read_time %}{% include read-time.html %}{% endcapture %}{{ read_time | strip }}</li>
    {% endif %}
    </ul>
  </footer>
  {% endif %}
  <div class="entry-excerpt">
    {% if post.excerpt %}
      {{ post.excerpt | markdownify }}
      <p>
        
        <a href="{{ post_link }}" class="more-link">{{ post.more-link-text | default: site.data.theme.t.read_more }} 
            <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span>
        </a>
    </p>
    {% endif %}
  </div>
</article>