<script type="application/ld+json">
{  
   "@context":"http://schema.org",
   "@type":"Blogpageing",
   "headline":"{{ page.title }}",
   {% if page.content %}
   "wordCount": {{ page.content | strip_html | number_of_words }},
   {% endif %}
   "url":"{{ page.link | absolute_url }}",
   "datePublished":"{{ page.date | | date: '%Y-%m-%d' }}",
   "dateModified":"{{ page.date | | date: '%Y-%m-%d' }}",
   "author": {% include authorStructuredData.html %},
   "publisher": {% include publisherStructuredData.html %},
   "image": "{% if page.image %}https://ansonliu.com{{ page.image.path }}{% else %}https://avatars1.githubusercontent.com/ansonl?v=3&s=200{% endif %}{{ page.image }}",
   "mainEntityOfPage":{  
      "@type":"WebPage",
      "@id":"{{ page.link | absolute_url }}"
   },
   "description": "{% if page.excerpt %}{{ page.excerpt strip_html | xml_escape | normalize_whitepace | strip }}{% else %}{{ page.content | strip_html | xml_escape | normalize_whitepace | strip | truncate: 200 }}{% endif %}"
   
}
</script>
