<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "image": "https://avatars1.githubusercontent.com/ansonl?v=3&s=200",
  "url": "https://ansonliu.com/store/",
  "sameAs": [
    "https://ansoninnovations.com",
    "https://corollaspare.com",
    "https://ansonliu.com"
    ],
  "logo": {
    "@type": "ImageObject",
    "url": "https://avatars1.githubusercontent.com/ansonl?v=3&s=200"
  },
  "name": "Anson Innovations LLC",
  "slogan": "Make the Uncharted",
  "description": "Anson Innovations LLC is a software engineering and 3D design service.",
  "address": {
    "@type": "PostalAddress",
    "addressCountry": "US",
    "addressLocality": "Cupertino",
    "addressRegion": "California",
    "postalCode": "95014"
  }
}
</script>
