body {
	scroll-behavior: smooth;
}

.page-link {
	font-family: Georgia, serif;    
	transition-duration: 0.3s;
	transition-property: transform;
	transition-timing-function: ease-out;
	display: inline-block; /* http://stackoverflow.com/questions/31860157/css3-transform-translate-on-hover-with-transition */
	transform: perspective(100px) translateZ(-30px);
}

.page-link:hover {
	transform: perspective(100px) translateZ(0px);
}

span .tag {
	display: inline-block;
	margin: 0.2em;
	padding: 0.1em 0.5em 0.1em 0.5em;
	border-radius: 0.25em;
	background-color: #00848a;
  	border-style: inset;
  	border-color: #00848a;
	color: #fff;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
  	opacity: 0.7;
}

span .tag:hover {
	background-color: #339da1;
  	opacity: 1;
	transition: opacity 0.5s;
  	transition-timing-function: ease-out;
}

span .na-tag {
	background-color: transparent;
  	border-color: #efefef;
  	color: #000;
}

span .na-tag:hover {
	background-color: transparent;
}
