---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
    </article>
    {% if page.actions %}
      <ul class="intro-actions">
        {% for action in page.actions %}
          <li><a href="{{ action.url }}" class="btn">{% if action.icon %}<span class="icon">{% include {{ action.icon | prepend: 'icon-' | append: '.svg' }} %}</span>{% endif %}{{ action.label }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    
    {% if page.comments == true %}
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    {% endif %}
  </div>
</main>