---
layout: default
---

{% include page-intro.html %}
	{% 
  include postStructuredData.html 
  title=post.title
  excerpt=post.excerpt
  content=post.content
  link=post.url
  date=post.date
	image=post.image
%}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>

      {% unless post.subscribe == false %}
        {% include subscribe.html %}
      {% endunless %}

      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </article>

    {% include footer.html %}
  </div>
</main>
